@import "styles/markup.css";
@import "styles/overrides.css";
@import "styles/cursor.css";
@import "styles/hover-fluid.css";
@import "styles/classes.css";

html,
body {
  font-family: proxima-nova, sans-serif !important;
  font-size: 1.2em;
  background: #eceff1;
}

body.sin-app-mod {
  background: #ffffff !important;
}

.disabled {
  color: rgba(0, 0, 0, 0.3) !important;
}

.disabled:hover {
  text-decoration: none;
}

::selection {
  outline: none !important;
  background: #fce373 !important;
}
